{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Add Image {% endblock%}
{% block content %}
  <div class="jumbotron">
    <div class="container">
      <form class="d-flex justify-content-around" method="post">
        {% csrf_token %}
        <img src="{{ request.GET.url }}" alt="image-preview" style="width: 600px;height:500px;object-fit:cover;">
        <fieldset>
          <legend>Bookmark an Image</legend>
          {{ form|crispy }}
          <input type="submit" class="btn btn-outline-success btn-lg" value="Bookmark it!">
        </fieldset>
      </form>

    </div>
  </div>
{% endblock %}
