{% extends 'base.html' %}
{% block title %} Images Bookmarked {% endblock%}
{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-2">Images Bookmarked</h2>
      <div id="image-list">
        {% include 'images/image_ajax_list.html' %}
      </div>
    </div>
  </div>
{% endblock %}
<script>
  {% block domready %}
    let page = 1;
    let empty_page = false;
    let block_request = false;

    $(window).scroll(function(){
      var margin = $(document).height() - $(window).height() - 200;
      if($(window).scrollTop() > margin && empty_page == false && block_request == false){
        block_request = true;
        page += 1;
        $.get('?page='+page,function(data){
          if(data == ''){
            empty_page = true;
          }else{
            block_request = false;
            $('#image-list').append(data);
          }
        })
      }
    });

  {% endblock domready %}
</script>
