{% load thumbnail %}
{% block content %}
  <div class="container my-5 border border-success p-4">
    {% with user=action.user profile=action.user.profile %}
     <div	class="action d-flex">
       <div	class="images">
         {% if profile.image %}
          {% thumbnail user.profile.image	"80x80" crop="100%" as im	%}
          	<a href="{{	user.get_absolute_url	}}">
              <img src="{{ im.url }}"	alt="{{	user.get_full_name	}}" class="img-fluid mx-3">
            </a>
          {% endthumbnail %}
        {% endif %}
        {% if	action.target	%}
          {% with target=action.target %}
            {% if	target.image %}
              {% thumbnail target.image	"80x80"	crop="100%"	as im %}
                <a href="{{	target.get_absolute_url	}}">
                  <img src="{{ im.url }}"	class="item-img">
                </a>
              {% endthumbnail %}
            {% endif %}
          {% endwith %}
        {% endif %}
      </div>
      <div class="ml-4">
        <p><span class="text-muted">{{ action.created|timesince }} ago</span><br>
          <a href="{{	user.get_absolute_url	}}" class="text-danger font-weight-bold">{{ user.username }}</a>
          {{ action.verb }}
          {% if	action.target	%}
            {% with	target=action.target %}
              <a href="{{	target.get_absolute_url	}}" class="text-success font-weight-bold">{{ target }}</a>
            {% endwith %}
          {% endif %}
        </p>
      </div>
    </div>
    {% endwith %}
  </div>
{% endblock %}
