{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password COnfirm {% endblock%}
{% block content %}
  <div class="jumbotron">
    <div class="container">
      {% if validlink %}
      <form method="post" action=".">
        {% csrf_token %}
        <fieldset>
          <legend>Reset</legend>
          {{ form|crispy }}
          <input type="submit" class="btn btn-outline-success btn-lg" value="Reset">
        </fieldset>
      </form>
      {% else %}
      <p class="lead text-danger">Password reset link was invalid, possibly it has already been used. Request a NEW password reset.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
